doctype html
html(lang="en")
  head
    include ./header.pug
    script(src="static/scripts/custom.js")
  body
    - var CustomEvents = true;
    include ./navbar.pug
    div(class="container-fluid")
      div(class="row" id="container")
        div(class="col-xs-10")
            div(id="customlist")