meta(charset="utf-8")
meta(http-equiv="X-UA-Compatible" content="IE=edge")
meta(name="viewport" content="width=device-width, initial-scale=1")
title Planned Works Information
link(rel="stylesheet" href="resources/bootstrap/dist/css/bootstrap.min.css")
link(rel="stylesheet" href="resources/bootstrap/dist/css/bootstrap-theme.min.css")
link(rel="stylesheet" href="static/styles/main.css")
link(rel="stylesheet" href="resources/bootstrap-datetime-picker/css/bootstrap-datetimepicker.min.css")
script(src="resources/jquery/dist/jquery.min.js")
script(src="resources/bootstrap/dist/js/bootstrap.min.js")
script(src="resources/bootstrap-datetime-picker/js/bootstrap-datetimepicker.min.js")
