nav(class="navbar navbar-default")
  div(class="container-fluid")
    div(class="navbar-header")
      button(type="button", class="navbar-toggle collapsed", data-toggle="collapse", data-target="#navbar-collapse-1", aria-expanded="false")
        span(class="sr-only") Toggle navigation
        span(class="icon-bar")
        span(class="icon-bar")
        span(class="icon-bar")
      a(class="navbar-brand", href="/") Planned Works Information        
    div(class="collapse navbar-collapse", id="navbar-collapse-1")
      ul(class="nav navbar-nav")
        li(class=TMap ? 'active' : '') 
          a(href="/") Traffic Map
        li(class=BlockedEvents ? 'active' : '') 
          a(href="/blockedList") Blocked List
        li(class=CustomEvents ? 'active' : '') 
          a(href="/customEvents") Custom Events